
#simple-sticky-footer-container {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    /*min-height: 80px;*/
    text-align:center;
    background: transparent;
}

#simple-sticky-footer {
    margin:0 auto;
    text-align: left;
    background: #fff;
}

.sf-hidden {display: none;}

